.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .page-numbers {
    display: flex;
  }

  .page-item {
    padding: 8px 14px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease, border-color 0.3s ease;

    &.active {
      background-color: #000;
      color: #fff;
      border-color: #000;
    }

    &:focus {
      outline: 2px solid #fff;
    }

    &:hover {
      outline: 2px solid #fff;
      color: #000;
      background-color: #e7e7e7;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
      transition: opacity 0.3s ease;
    }
  }

  button {
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    display: flex;
    transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease, border-color 0.3s ease;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
      transition: opacity 0.3s ease;
    }

    &:focus {
      outline: 2px solid #fff;
    }

    &.active {
      background-color: #000;
      color: #fff;
      border-color: #000;
    }

    &:hover {
      outline: 2px solid #fff;
      background-color: #e7e7e7;
    }

    img {
      width: 15px;
    }
  }
}
